<h1>Listing User Profile</h1>

<table class='tables-1'>
  <thead>
    <tr>
      <th>Profile Name</th>
      <th>Email</th>
      <th>address</th>
      <th>City</th>
      <th>State</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    {{#each userProfiles as |profile|}}
    <tr>
      <td>{{profile.profileName}}</td>
      <td>{{profile.email}}</td>
      <td>{{profile.address}}</td>
      <td>{{profile.city}}</td>
      <td>{{profile.state}}</td>
      <td>{{profile.phone}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


<div class="profile">
  {{#link-to  "user.profile.new" class='temp-btn'}}
  Create New Profile
  {{/link-to}}
  {{#link-to  "index" class="temp-btn"}}
  Landing Page
  {{/link-to}}
</div>