<div class="page-grid-system profile-layout">
  <div class="profile-section wide placeholder">
    <h2>Placeholder</h2>
  </div>

  <div class="profile-section tall classes">
    <h2>Classes</h2>
    {{#each profileKlasses as |class|}}
    <div class="profile-section-item">
      <h3>{{class.title}}</h3>
    </div>
    {{/each}}
  </div>

  <div class="profile-section tall trainers">
    <h2>Trainers</h2>
    {{#each profileTrainers as |trainer|}}
    <div class="profile-section-item">
      <h3>{{trainer.fullName}}</h3>
      <img id="trainers-image-display" src="{{trainer.image.url}}" height="100" width="100">
    </div>
    {{/each}}
  </div>

  <div class="profile-section tall members">
    <h2>Members</h2>
    {{#each profileMembers as |member|}}
    <div class="profile-section-item">
      <h3>{{member.fullName}}</h3>
      <img id="members-image-display" src="{{member.image.url}}" height="100" width="100">
    </div>
    {{/each}}
  </div>
</div>
