<div class="profile-layout">
  <div class="profile-section">
    <h2>Class Check Ins</h2>
    <h3>{{formattedDate}}</h3>
    {{#each profileKlasses as |class|}}
    <h3>{{class.title}}</h3>
    {{#each class.attendances as |attendance|}}
    {{#if attendance.isTodaysCheckin}}
    <CheckIn @img={{attendance.member.image.url}} @name={{attendance.member.fullName}}
      @status={{attendance.member.hasGoodStatus}} @date={{attendance.checkInTime}} />
    {{/if}}
    {{/each}}
    {{/each}}
  </div>
</div>