
<div class='create-forms'>
  <form id="contact" action="" method="post">
    <h3>Create New Profile</h3>
    <fieldset>
      <label for="profile-picture">Profile Photo</label>
      <ul style="list-style-type: none;">
        {{#each filesArray as |file|}}
        {{image-preview file=file}}
        {{/each}}
      </ul>
      {{input-file files=files callbackAction='setImage'}}
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="text" value=profileName placeholder="Profile Name" autofocus=true}}
      </div>
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="text" value=address placeholder="Address" }}
      </div>
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="text" value=city placeholder="City" }}
      </div>
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="text" value=state placeholder="State"  }}
      </div>
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="text" value=zip placeholder="Zip"  }}
      </div>
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="email" value=email placeholder="Email Address"  }}
      </div>
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="tel" value=phone placeholder="Your Phone Number"  }}
      </div>
    </fieldset>
    <fieldset>
      <button {{action "createNewProfile"}} name="submit" type="submit" id="contact-submit"
        data-submit="...Sending">Submit
      </button>
    </fieldset>
    {{copyright-footer}}
  </form>
</div>
