<div class='create-forms'>
  <form id="contact" action="" method="post">
    <h2>Create New Profile</h2>
    <fieldset>
      <label for="profile-picture">Profile Photo</label>
      <ul style="list-style-type: none;">
        {{#each filesArray as |file|}}
        {{image-preview file=file}}
        {{/each}}
      </ul>
      {{input-file files=files callbackAction='setImage'}}
    </fieldset>
    <InputText @label="Profile Name" @value={{profile.profileName}} />
    <InputText @label="Address" @value={{profile.address}} />
    <InputText @label="City" @value={{profile.city}} />
    <InputText @label="State" @value={{profile.state}} />
    <InputText @label="Zip" @value={{profile.zip}} />
    <InputText @label="Email Address" @value={{profile.email}} />
    <InputText @label="Phone Number" @value={{profile.phone}} @type="tel" />
    <fieldset>
      <button {{action "updateProfile" profile}} name="submit" type="submit" id="contact-submit"
        data-submit="...Sending">Submit
      </button>
    </fieldset>
    {{copyright-footer}}
  </form>
</div>