<fieldset>
    <label for={{@index>{{@placeholder}}</label>
        <div class='page-grid-form-input'>
            {{input type="text" id=@index value=@value }}
            <button {{action @action}} type="submit">
                <img src="{{rootURL}}/assets/images/check.svg" alt="submit-trainer-icon">
            </button>
        </div>
</fieldset>