<div class="classes-layout">

  <div class="classes-create">
    <button {{action "createNewClass"}}>Create New Class</button>
  </div>

  <div class='classes-section classes-section-list'>
    {{#each profileClasses as |class|}}
    <div class="classes-section-item" {{action 'selectClass' class}}>
      <h3>{{class.title}}</h3>
    </div>
    {{/each}}
  </div>

  <div class='classes-section classes-section-detail'>

    <h2>Settings</h2>

    <div class='classes-section-info'>
      <form>
        <fieldset>
          <label for="class-name">Class Name</label>
          <div class='classes-section-input'>
            {{input type="text" id='class-name' value=classInfo.title }}
            <button {{action "updateClassTitle" classInfo.title}} type="submit">
              <img src="{{rootURL}}/assets/images/check.svg" alt="submit-class-icon">
            </button>
          </div>
        </fieldset>
      </form>

      <form>
        <fieldset>
          <label>Update Schedule</label>
        </fieldset>
      </form>

    </div>

    <div class='classes-section-list trainers'>

      <form>
        <fieldset>
          <label for="add-trainer">Add Trainer</label>
          <div class='classes-section-input'>
            {{input type="text" id='add-trainer'}}
            <button type="submit">
              <img src="{{rootURL}}/assets/images/arrow-down.svg" alt="submit-trainer-icon">
            </button>
          </div>
        </fieldset>
      </form>

      <h3 class='class-section-title'>Trainers</h3>

      {{#each classTrainers as |trainer|}}
        <div class="classes-section-item">
          <h3>{{trainer.first_name}} {{trainer.last_name}}</h3>
        </div>
      {{/each}}

    </div>

    <div class='classes-section-list members'>
      <h3 class='class-section-title'>Members</h3>
      {{#each classMembers as |member|}}
      <div class="classes-section-item">
        <h3>{{member.first_name}} {{member.last_name}}</h3>
      </div>
      {{/each}}
    </div>

  </div>

</div>
