<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "createNewClass"}}>Create New Class</button>
    </div>

    {{#each profileClasses as |class|}}
    <div class="settings-item" {{action 'selectClass' class}}>
      <h3>{{class.title}}</h3>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Class Settings</h2>
    <div class="settings-content classes-content" id="classes-form">
      <form>
        <fieldset>
          <label for="class-name">Class Name</label>
          <div class='settings-input-text'>
            {{input type="text" id='class-name' value=classInfo.title }}
          </div>
        </fieldset>
        <h3 class='class-section-title'>Schedule</h3>
        <div class="classes-timetable">
          <div class="classes-timetable-days">
            {{#each timetable as |days|}}
            <div class="classes-timetable-day">
              <span>{{days.day}}</span>
            </div>
            {{/each}}
          </div>
          <div class="classes-timetable-hours" {{action "followCursor" on="mouseMove"}}
            {{action "unFollowCursor" on="mouseLeave"}}>
            <div id='timetable-tooltip'>
              Select a starting time
            </div>
            {{#each avaliableHours as |hour|}}
            <div class='classes-timetable-hour'>
              {{hour}}
            </div>
            {{/each}}
          </div>
        </div>
      </form>

      <div class='classes-trainers'>
        <h3 class='class-section-title'>Trainers</h3>
        {{#each classTrainers as |trainer|}}
        <div class="classes-section-item">
          <h3>{{trainer.first_name}} {{trainer.last_name}}</h3>
          <img id="trainers-image-display" src="{{trainer.image.url}}" height="100" width="100">
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>