<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "goToNewClass"}}>Create New Class</button>
    </div>

    {{#each profileClasses as |class|}}
    <div class="settings-item" {{action 'selectClass' class}}>
      <h3>{{class.title}}</h3>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Class Settings</h2>
    <div class="settings-content classes-content" id="classes-form">
      <form>
        <fieldset>
          <div class='settings-input-text'>
            {{input type="text" value=selectedKlass.title placeholder="Enter Class title..."}}
          </div>
        </fieldset>
        <h3 class='class-section-title'>Schedule</h3>
        <div class="classes-timetable">
          <div class="classes-timetable-days">
            {{#each timetable as |days i|}}
            <div {{action "selectDay" i}} class="classes-timetable-day {{days.c}}">
              <span>{{days.day}}</span>
            </div>
            {{/each}}
          </div>
          <div class="classes-timetable-hours" {{action "followCursor" on="mouseMove"}}
            {{action "unFollowCursor" on="mouseLeave"}}>
            <div id='timetable-tooltip'>
              Select a starting time
            </div>
            {{#each (get-array-of-index timeTable selectedDay) as |hour index|}}
            <div {{action "selectHour" hour index}} class='classes-timetable-hour {{hour.status}}'>
              {{hour.hour}}
              <div id="timetable-box-{{index}}" class="timetable-box"></div>
            </div>
            {{/each}}
          </div>
        </div>
        <div>
          <button {{action "updateClass" selectedKlass}} type="submit">
            Submit
          </button>
        </div>
        <br>
        <button {{action "deleteClass" selectedKlass}} style="color: red;" type="submit">
          Delete
        </button>
      </form>

      <div class='classes-trainers'>
        <h3 class='class-section-title'>Trainers</h3>
        {{#each selectedKlass.trainers as |trainer|}}

        <div class="trainers-section" {{action 'selectTrainer' trainer}}>
          <img class="image-icon" src="{{trainer.image.url}}">
          <h3>{{trainer.fullName}}</h3>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
