

<div class='create-forms'>
  <form id="contact" action="" method="post">
    <h3>Create New Class</h3>
    <fieldset>
      <label for="class-title">Title</label>
      <div class='settings-input-text'>
        {{input type="text" value=title autofocus=true}}
      </div>
    </fieldset>
    <fieldset>
      <div class="classes-timetable">
        <div class="classes-timetable-days">
          {{#each timetable as |days|}}
          <div class="classes-timetable-day">
            <span>{{days.day}}</span>
          </div>
          {{/each}}
        </div>
        <div class="classes-timetable-hours" {{action "followCursor" on="mouseMove"}}
          {{action "unFollowCursor" on="mouseLeave"}}>
          <div id='timetable-tooltip'>
            Select a starting time
          </div>
          {{#each avaliableHours as |hour|}}
          <div class='classes-timetable-hour'>
            {{hour}}
          </div>
          {{/each}}
        </div>
      </div>
    </fieldset>
    <fieldset>
      <div class='settings-input-text'>
        {{input type="text" value=schedule placeholder="Class days" }}
      </div>
    </fieldset>
    <fieldset>
      <button {{action "createNewClass"}} name="submit" type="submit" id="contact-submit"
        data-submit="...Sending">Submit
      </button>
    </fieldset>
    {{copyright-footer}}
  </form>
</div>
