

<div class='create-forms'>
  <form id="contact" action="" method="post">
    <h3>Create New Class</h3>
    <fieldset>
      <label for="class-title">Title</label>
      <div class='settings-input-text'>
        {{input type="text" value=title autofocus=true}}
      </div>
    </fieldset>
    <fieldset>
      <div class="classes-timetable">
        <div class="classes-timetable-days">
          {{#each timetable as |days i|}}
          <div {{action "selectDay" days i}} class="classes-timetable-day {{days.c}}">
            <span>{{days.day}}</span>
          </div>
          {{/each}}
        </div>
        <div class="classes-timetable-hours">
          <div id='timetable-tooltip'>
            Select start times
          </div>
          {{#each avaliableHours as |hour|}}
            <div class='classes-timetable-hour {{hour.status}}'>
              <label>
                {{gs-checkbox name=hour.hour class="profile_section" value=hour.hour  data=hour.hour callbackAction='setSelectedHour'}}
                <label for="hours">{{hour.hour}}</label>
              </label>
              <div id="timetable-box-{{index}}" class="timetable-box"></div>
            </div>
          {{/each}}
        </div>
      </div>
    </fieldset>
    <fieldset>
      <button {{action "createNewClass"}} name="submit" type="submit" id="contact-submit"
        data-submit="...Sending">Submit
      </button>
    </fieldset>
    {{copyright-footer}}
  </form>
</div>
