
{{route-links}}

<h1>Listing Sections</h1>

<table id="sections">
  <thead>
    <tr>
      <th>Title</th>
      <th>Profile</th>
    </tr>
  </thead>

  <tbody>
    {{#each sectionsList as |section|}}
      <tr>
        <td>{{section.title}}</td>
        <td>{{section.profileName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="main-containercontainer">
  <form id="contact" action="" method="post">
    <h3>Class Information</h3>
    <fieldset>
      {{input type="text" value=title placeholder="Section Title" autofocus=true}}
    </fieldset>
    <fieldset>
      {{day-selector}}
      <div class="times-section">
          <div id="timeSelection">
            {{time-picker callbackAction="setSelectedTime"}}
            <div style="float: left; position: relative; top: -30px;">
              <h3 style="margin: 0;font-size: 10px;">Click to select class time</h3>
            </div>
            <div style="float: right;position: relative;right: 150px;top: -13px;">
              <i style="font-size: 25px;" class="ion-ios-plus pb_icon-gradient"></i>
            </div>
          </div>
      </div>
    </fieldset>
    <fieldset>
      <button {{action "createSection"}} name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <div class="checkbox-label">
        {{input type="checkbox" name="accept_terms" id="terms-of-use-checkbox" aria-label="accept terms" required=true checked=accept_terms }}
      Accept
        <a target="_blank" href="http://www.finsync.com/wp-content/uploads/2019/02/Policy-Terms-of-Use-Updated-2.7.2019.pdf">Terms of Use</a><span class="required-marker">*</span>&nbsp;
      </div>
    {{copyright-footer}}
  </form>
</div>
