
{{route-links}}

<h1>Listing Sections</h1>

<table id="sections">
  <thead>
    <tr>
      <th>Title</th>
      <th>Profile</th>
    </tr>
  </thead>

  <tbody>
    {{#each sectionsList as |section|}}
      <tr>
        <td>{{section.title}}</td>
        <td>{{section.profileName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="section-container">
  <form id="contact" action="" method="post">
    <h3>Class Information</h3>
    <fieldset>
      {{input type="text" value=title placeholder="Title" autofocus=true}}
    </fieldset>
    <fieldset>
      {{day-selector}}
      <div class="timeSection">
          <div id="timeSelection">
            {{ember-timepicker onChange=(action 'onChange')  placeholder='Click to add time'}}
            <div id="add-time-plus-icon">
              <i class="ion-ios-plus pb_icon-gradient"></i>
            </div>
          </div>
      </div>
    </fieldset>
    <fieldset>
      <div id="trainer-selection-container">
        {{multiple-select listOfCollection=listOfTrainers}}
      </div>
    </fieldset>
    <fieldset>
      <button {{action "createSection"}} name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    {{copyright-footer}}
  </form>
</div>
