<h1>Listing Profile Members</h1>

<table class='tables-1'>
  <thead>
    <tr>
      <th>Membership type</th>
      <th>Name</th>
      <th>Email</th>
      <th>address</th>
      <th>City</th>
      <th>State</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    {{#each profileMembersList as |member|}}
    <tr>
      <td>{{member.membershipType}}</td>
      <td>{{member.fullName}}</td>
      <td>{{member.email}}</td>
      <td>{{member.address}}</td>
      <td>{{member.city}}</td>
      <td>{{member.state}}</td>
      <td>{{member.phone}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to  "user.profile.members.new" class="temp-btn"}}
Create New Member
{{/link-to}}