<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "goToCreateNewMember"}}>Create New Member</button>
    </div>

    {{#each profileMembersList as |member|}}
    <div class="settings-item" {{action 'selectMember' member}}>
      <div class="settings-item-left">
        <img src="{{member.image.url}}" alt={{member.fullName}}>
      </div>
      <div class="settings-item-right">
        <p class="sir-name">{{member.fullName}}</p>
        <p>${{member.monthlyPrice}} - {{member.membershipType}}</p>
        <p>{{member.contractExpiresOn}}</p>
      </div>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Member Settings</h2>
    <div class="settings-content" id="members-form">
      <form>
        <fieldset>
          <label for="member-picture">Member Photo</label>
          <ul style="list-style-type: none;">
            {{#each filesArray as |file|}}
            {{image-preview file=file}}
            {{/each}}
          </ul>
          {{input-file id="member-picture" files=files callbackAction='setImage'}}
        </fieldset>
       <fieldset>
         <label for="member-firstName">First Name</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-firstName" value=selectedMember.firstName }}
         </div>
       </fieldset>
       <fieldset>
         <label for="member-lastName">Last Name</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-lastName" value=selectedMember.lastName }}
         </div>
       </fieldset>
       <fieldset>
         <label for="member-email">Email</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-email" value=selectedMember.email }}
         </div>
       </fieldset>
       <fieldset>
         <label for="member-address">Address</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-address" value=selectedMember.address }}
         </div>
       </fieldset>
       <fieldset>
         <label for="member-city">City</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-city" value=selectedMember.city }}
         </div>
       </fieldset>
       <fieldset>
         <label for="member-state">State</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-state" value=selectedMember.state }}
         </div>
       </fieldset>
       <fieldset>
         <label for="member-zip">Zip</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-zip" value=selectedMember.zip }}
         </div>
       </fieldset>
       <fieldset>
         <label for="member-phone">Phone</label>
         <div class='settings-input-text'>
           {{input type="text" id="member-phone" value=selectedMember.phone }}
         </div>
       </fieldset>
        <fieldset>
          <h4>Current Membership Type</h4>
          <div class="input-checkboxes">
            {{#each plansWithoutMembersPlan as |plan|}}
            {{#unless plan}}
            <label>
              <span style="font-weight: normal;">No selected plan</span>
            </label>
            {{else}}
            <label class='input-checkbox'>
              {{gs-radio name=plan.id class="profile_section" value=plan.id  data=plan callbackAction='setPlanId' checked=true}}
              <span style="font-weight: normal;">{{plan.title}}</span>
            </label>
            {{/unless}}
            {{/each}}
          </div>
        </fieldset>
        <fieldset>
          <h4>Available Plans</h4>
          <div class="input-checkboxes">
            {{#each currentProfilePlans as |plan|}}
            <label class='input-checkbox'>
              {{gs-radio name=plan.id class="profile_section" value=plan.id  data=plan callbackAction='setPlanId'}}
              <span style="font-weight: normal;">{{plan.title}}</span>
            </label>
            {{/each}}
          </div>
        </fieldset>
        <button {{action "updateMember" selectedMember}} type="submit">
          Submit
        </button>
        <br>
        <button {{action "deleteMember" selectedMember}} style="color: red;" type="submit">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
