<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "goToCreateNewMember"}}>Create New Member</button>
    </div>

    {{#each profileMembersList as |member|}}
    <div class="settings-item" {{action 'selectMember' member}}>
      <img id="members-image-display" src="{{member.image.url}}">
      <h3>{{member.fullName}}</h3>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Member Settings</h2>
    <div class="settings-content" id="members-form">
      <form>
        <fieldset>
          <label for="member-picture">Member Photo</label>
          <ul style="list-style-type: none;">
            {{#each filesArray as |file|}}
            {{image-preview file=file}}
            {{/each}}
          </ul>
          {{input-file id="member-picture" files=files callbackAction='setImage'}}
        </fieldset>
        <fieldset>
          <label for="member-firstName">First Name</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-firstName" value=selectedMember.firstName }}
          </div>
        </fieldset>
        <fieldset>
          <label for="member-lastName">Last Name</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-lastName" value=selectedMember.lastName }}
          </div>
        </fieldset>
        <fieldset>
          <label for="member-email">Email</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-email" value=selectedMember.email }}
          </div>
        </fieldset>
        <fieldset>
          <label for="member-address">Address</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-address" value=selectedMember.address }}
          </div>
        </fieldset>
        <fieldset>
          <label for="member-city">City</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-city" value=selectedMember.city }}
          </div>
        </fieldset>
        <fieldset>
          <label for="member-state">State</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-state" value=selectedMember.state }}
          </div>
        </fieldset>
        <fieldset>
          <label for="member-zip">Zip</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-zip" value=selectedMember.zip }}
          </div>
        </fieldset>
        <fieldset>
          <label for="member-phone">Phone</label>
          <div class='settings-input-text'>
            {{input type="text" id="member-phone" value=selectedMember.phone }}
          </div>
        </fieldset>
        <button {{action "updateMember" selectedMember}} type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
