<div class='create-forms'>
  <h2>Create New Member</h2>
  <form>
    <fieldset>
      <label for="member-picture">Member Photo</label>
      <ul style="list-style-type: none;">
        {{#each filesArray as |file|}}
        {{image-preview file=file}}
        {{/each}}
      </ul>
      {{input-file id="member-picture" files=files callbackAction='setImage'}}
    </fieldset>
    <fieldset>
      <label for="member-firstName">First Name</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-firstName" value=firstName }}
      </div>
    </fieldset>
    <fieldset>
      <label for="member-lastName">Last Name</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-lastName" value=lastName }}
      </div>
    </fieldset>
    <fieldset>
      <label for="member-email">Email</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-email" value=email }}
      </div>
    </fieldset>
    <fieldset>
      <label for="member-address">Address</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-address" value=address }}
      </div>
    </fieldset>
    <fieldset>
      <label for="member-city">City</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-city" value=city }}
      </div>
    </fieldset>
    <fieldset>
      <label for="member-state">State</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-state" value=state }}
      </div>
    </fieldset>
    <fieldset>
      <label for="member-zip">Zip</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-zip" value=zip }}
      </div>
    </fieldset>
    <fieldset>
      <label for="member-phone">Phone</label>
      <div class='settings-input-text'>
        {{input type="text" id="member-phone" value=phone }}
      </div>
    </fieldset>
    <fieldset>
      <h4>Membership Type</h4>
      {{#each profilePlans as |plan|}}
      <label>
        {{gs-radio name=plan.title class="profile_section" id=plan.id value=plan.id  data=plan.id callbackAction='setPlanId'}}
        <span style="font-weight: normal;">{{plan.title}}</span>
      </label>
      {{/each}}

    </fieldset>
    <button {{action "createNewMember" selectedMember}} name="submit" type="submit" data-submit="...Sending">
      Submit
    </button>
    <div>
      <button {{action "deleteMember" selectedMember}} style="color: red;" type="submit">
        Delete
      </button>
    </div>
  </form>
</div>