<div class='create-forms'>
  <h2>Create New Member</h2>
  <form>
    <fieldset>
      <label for="member-picture">Member Photo</label>
      <ul style="list-style-type: none;">
        {{#each filesArray as |file|}}
        {{image-preview file=file}}
        {{/each}}
      </ul>
      {{input-file id="member-picture" files=files callbackAction='setImage'}}
    </fieldset>
    <InputText @label="First Name" @value={{firstName}} />
    <InputText @label="Last Name" @value={{lastName}} />
    <InputText @label="Email" @value={{email}} />
    <InputText @label="Address" @value={{address}} />
    <InputText @label="City" @value={{city}} />
    <InputText @label="State" @value={{state}} />
    <InputText @label="Zip" @value={{zip}} />
    <InputText @label="Phone" @value={{phone}} />
    <fieldset>
      <h4>Membership Type</h4>
      <div class="input-checkboxes">
        {{#each profilePlans as |plan|}}
        <label class='input-checkbox'>
          {{gs-radio name=plan.id class="profile_section" id=plan.id value=plan.id data=plan.id callbackAction='setPlanId'}}
          <span style="font-weight: normal;">{{plan.title}}</span>
        </label>
        {{/each}}
      </div>
      <h4>Contract length in months</h4>
      <div class='settings-input-text'>
        {{input type="number" id=plan.id value=contractLength placeholder="Months..." min="0" max="12"}}
      </div>

    </fieldset>
    <button {{action "createNewMember" selectedMember}} name="submit" type="submit" data-submit="...Sending">
      Submit
    </button>
    <div>
      <button {{action "deleteMember" selectedMember}} style="color: red;" type="submit">
        Delete
      </button>
    </div>
  </form>
</div>