
{{home-nav}}

<div class="mod-intro">
<div class="layout-wrap u-padding u-cc">
<header class="u-max-width-900 u-bg-white u-text-center">
<p class="preheader u-color-green">All-in-One</p>
<h1 class="u-heading-huge u-mb-20">Membership Management <br> Software</h1>
<h2 class="u-heading-medium u-fw-normal u-mb-20 u-color-medium">An easy-to-use cloud-based platform to manage key aspects of a gym membership.</h2>
<p class="u-mb-20"><a class="button large" href="/sign-up">Try it now — free for 30 days</a></p>
<p class="u-color-medium">No credit card needed.</p>
</header>
</div>
</div>
<section class="u-bg-light">
<div class="layout-wrap o-grid u-padding">
<div class="u-pr-40 u-span-12 u-span-4@lg">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-ios-people pb_icon-gradient"></i></div><h2 class="u-heading-medium u-mb-10">Flexible Memberships</h2>
<p class="u-mb-10">Create custom membership plans and associate members with plan packages, contracts and renewals.</p>
<a href="">Webmachine</a>
</div>
<div class="u-pr-40 u-span-12 u-span-4@md">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-ios-timer iconic-lg pb_icon-gradient"></i></div><h2 class="u-heading-medium u-mb-10">Membership Tracking</h2>
<p class="u-mb-10">Track when a member first joined your organization, attendance, subscriptions, and more.</p>
<p>
<a href="">Webmachine</a>
</p>
</div>
<div class="u-pr-40 u-span-12 u-span-4@md">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-clock pb_icon-gradient"></i></div><h2 class="u-heading-medium u-mb-10">
Check-in System
</h2>
<p class="u-mb-10">Record check-ins for daily attendance, training session management, and more by tracking NFC scans from designated kiosks and phone network access.</p>
<p>
<a href="">Stimulus</a>
</p>
</div>
<div class="u-pr-40 u-span-12 u-span-4@md">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-pie-graph pb_icon-gradient"></i></div><h2 class="u-heading-medium u-mb-10">
Membership Reports
</h2>
<p class="u-mb-10">Detailed reports on membership, attendance and more.</p>
<p>
<a href="">Stimulus</a>
</p>
</div>
<div class="u-pr-40 u-span-12 u-span-4@md">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-gear-b pb_icon-gradient"></i></div><h2 class="u-heading-medium u-mb-10">
Flexible Payments
</h2>
<p class="u-mb-10">With our billing and payment processing services from Finsync, you’ll collect more revenue from more members than with anyone else.</p>
<p>
<a href="https://docs.GymSidekiq.com/front-end/integrations/stimulus.html">Stimulus</a>
</p>
</div>
<div class="u-pr-40 u-span-12 u-span-4@md">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-android-person pb_icon-gradient"></i></div>
<h2 class="u-heading-medium u-mb-10">
Member Portal
</h2>
<p class="u-mb-10">An online portal that provides members access to their account information and enables edit, update and signups.</p>
<p>
<a href="">Stimulus</a>
</p>
</div>
<div class="u-pr-40 u-span-12 u-span-4@md">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-clipboard pb_icon-gradient"></i></div><h2 class="u-heading-medium u-mb-10">
Digital Waivers
</h2>
<p class="u-mb-10">A different way to manage online liability waivers powering your business by making the waiver sign up process quick, paperless, and secure.</p>
<p>
<a href="">Stimulus</a>
</p>
</div>
<div class="u-pr-40 u-span-12 u-span-4@md">
<div class="pb_icon"><i style="font-size: 60px;" class="ion-ios-body pb_icon-gradient"></i></div>
<h2 class="u-heading-medium u-mb-10">
AIA
</h2>
<p class="u-mb-10">Artificial Intelligence Assistant will help you with automatic SMS, emails & app notifications.</p>
<p>
<a href="">Stimulus</a>
</p>
</div>
</div>
</section>
<section class="mod-tour-screenshots white">
<div class="layout-wrap">
<div class="side">
<h2 class="preheader u-color-green">Packed with features.</h2>
<h1>Simple user interface.</h1>
<ul>
<li class="dashboard">
<a class="active" href="#feature-dashboard">Flexible Memberships</a>
</li>
<li class="errors">
<a href="#feature-errors">Membership Tracking</a>
</li>
<li class="performance">
<a href="#feature-performance">Check-in System</a>
</li>
<li class="hosts">
<a href="#feature-host-metrics">Membership Reports</a>
</li>
<li class="anomalies">
<a href="#feature-anomalies">Flexible Payments</a>
</li>
<li class="anomalies">
<a href="#feature-host-metrics">Member Portal</a>
</li>
<li class="anomalies">
<a href="#feature-errors">AIA</a>
</li>
</ul>
</div>
<div class="screenshots">
<div class="screenshot active" id="feature-dashboard">
<img alt="Screenshot of the dashboard feature of GymSidekiq" loading="lazy" src="{{rootURL}}assets/images/features/dashboard.svg" />
</div>
<div class="screenshot" id="feature-errors">
<img alt="Screenshot of the errors feature of GymSidekiq" loading="lazy" src="{{rootURL}}assets/images/features/errors.svg" />
</div>
<div class="screenshot" id="feature-performance">
<img alt="Screenshot of the performance feature of GymSidekiq" loading="lazy" src="{{rootURL}}assets/images/features/performance.svg" />
</div>
<div class="screenshot" id="feature-host-metrics">
<img alt="Screenshot of the host feature of GymSidekiq" loading="lazy" src="{{rootURL}}assets/images/features/host-metrics.svg" />
</div>
<div class="screenshot" id="feature-anomalies">
<img alt="Screenshot of the anomalies feature of GymSidekiq" loading="lazy" src="{{rootURL}}assets/images/features/anomalies.svg" />
</div>
</div>
</div>
</section>

<hr class="full">
<!--<section>
<div class="layout-wrap u-padding u-cc u-text-center">
<header class="u-max-width-900 u-padding-bottom">
<h2 class="preheader u-color- u-color-green">Making developer's lives easier.</h2>
<h1 class="u-heading-large u-mb-10">Optimized for your workflow.</h1>
<p class="u-text-large u-mb-20">It is 2020, not 1999. Tools should work for developers, not the other way around. GymSidekiq APM provides error tracking, host monitoring, performance metrics and anomaly detection, all in one interface. And rest assured, all integrations, configuration and team management are taken care of.</p>
</header>
<div class="o-grid">
<div class="u-span-12 u-span-6@md u-span-4@xl">
<img style="height: 3rem" class="u-mb-10 inline" alt="Abstract icon for alerts" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/icons/workflow/alerts.svg" />
<h3 class="u-heading-normal u-mb-10">Alerts in your tools</h3>
<p class="mb-20">GymSidekiq integrates with Slack, Flowdock, HipChat, OpsGenie and more.</p>
<p><a href="http://docs.GymSidekiq.com/application/integrations/">More in our docs</a></p>
</div>
<div class="u-span-12 u-span-6@md u-span-4@xl">
<img style="height: 3rem" class="u-mb-10 inline" alt="Abstract icon for notifications" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/icons/workflow/notifications.svg" />
<h3 class="u-heading-normal u-mb-10">Control your notifications</h3>
<p class="mb-20">GymSidekiq notifies you exactly when you want to. Get the first exceptions per deploy, all of them of never. Set thresholds for performance notifications.</p>
</div>
<div class="u-span-12 u-span-6@md u-span-4@xl">
<img style="height: 3rem" class="u-mb-10 inline" alt="Abstract icon for support" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/icons/workflow/support.svg" />
<h3 class="u-heading-normal u-mb-10">Amazing support</h3>
<p class="mb-20">We don't do "first line" and "second line" support: you get to speak with a developer, immediately.</p>
</div>
<div class="u-span-12 u-span-6@md u-span-4@xl">
<img style="height: 3rem" class="u-mb-10 inline" alt="Abstract icon for trackers" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/icons/workflow/trackers.svg" />
<h3 class="u-heading-normal u-mb-10">Send to issue trackers</h3>
<p class="mb-20">A single click creates an issue with all the necessary details in your issue tracker of choice.</p>
</div>
<div class="u-span-12 u-span-6@md u-span-4@xl">
<img style="height: 3rem" class="u-mb-10 inline" alt="Abstract icon for team" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/icons/workflow/team.svg" />
<h3 class="u-heading-normal u-mb-10">Manage teams and users</h3>
<p class="mb-20">Add users to teams and give them access to specific or all, existing and/or new applications you monitor.</p>
</div>
<div class="u-span-12 u-span-6@md u-span-4@xl">
<img style="height: 3rem" class="u-mb-10 inline" alt="Abstract icon for ui" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/icons/workflow/ui.svg" />
<h3 class="u-heading-normal u-mb-10">Focus on design</h3>
<p class="mb-20">Developer tools do not need to be complicated and ugly. Our interface is kept clean and easy to use.</p>
</div>
</div>
</div>
</section>-->

<!--<section class="mod-tour-code">
<div class="layout-wrap o-grid u-ai-center">
<div class="explanation u-span-12 u-span-6@lg u-pr-50">
<span class="preheader">Easy installation</span>
<h2 class="u-heading-large u-mb-20">A few minutes work,<br> endless insights.</h2>
<p class="u-mb-20">Choose Elixir or Ruby and get the installation instructions for your setup. Our integrations are used on thousands of apps and we support most of your setups.</p>
<a class="button" href="/users/sign_up">Get started</a>
</div>
<pre class="u-span-12 u-span-6@lg"><code class="codehilite"><span class="c1"># Add to .gemfile</span>&#x000A;<span class="n">source</span> <span class="s2">"https://rubygems.org"</span>&#x000A;<span class="n">gem</span> <span class="s2">"GymSidekiq"</span>&#x000A;
<span class="c1"># Ruby installation</span>&#x000A;bundle <span class="nb">exec </span>GymSidekiq install YOUR_PUSH_API_KEY&#x000A;</code>
<code class="codehilite"><span class="c1"># Add to mix.exs</span>&#x000A;<span class="k">def</span> <span class="n">deps</span> <span class="k">do</span>&#x000A;  <span class="p">[{</span><span class="ss">:GymSidekiq</span><span class="p">,</span> <span class="sd">"</span><span class="s2">~&gt; 1.0"</span><span class="p">}]</span>&#x000A;<span class="k">end</span>&#x000A;&#x000A;<span class="c1"># Elixir installation</span>&#x000A;mix deps.get&#x000A;mix GymSidekiq.install YOUR_PUSH_API_KEY&#x000A;</code></pre>
</div>
</section>
<!--<div class="mod-tour-quote white">
<div class="layout-wrap">
<header>
<h2 class="twoliner">
Our customers mean the <pre>hello world</pre> to us.
</h2>
<p>Our product is built by developers for developers. The developer mindset flows through every part of our company. So if a developer like you compliments our product, it means the world to us.</p>
</header>
<div class="o-grid">
<blockquote class="u-span-12 u-span-6@md u-span-4@xl">
<img alt="Avatar portrait of Stefan Dorresteijn" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/homepage/testimonials/stefandorresteijn-6a6b9ca399755ea308f9f30da226807a3825eacce58551e766380cc322f944d6.jpg" />
<cite>
Stefan Dorresteijn
<a target="_blank" rel="noopener" href="https://twitter.com/StefanJD/status/910527303494533121">@StefanJD</a>
</cite>
<p>Man, GymSidekiq is an absolute godsend. Just fixed 2 errors in production, 2 minutes after they happened.</p>
</blockquote>
<blockquote class="u-span-12 u-span-6@md u-span-4@xl">
<img alt="Avatar portrait of Saul Costa" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/homepage/testimonials/saulcosta-b1a7b9645db46fcc444db78257ba65626378f1399d3d7ae0f8ba8f2cfd55435c.jpg" />
<cite>
Saul Costa
<a target="_blank" rel="noopener" href="https://twitter.com/SaulDCosta/status/900223921974280192">@SaulDCosta</a>
</cite>
<p>GymSidekiq your "What Happened Here?" feature is pure gold. Just turned what would have been hours of debugging into minutes. I love you.</p>
</blockquote>
<blockquote class="u-span-12 u-span-6@md u-span-4@xl">
<img alt="Avatar portrait of Parker Wrightman" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/homepage/testimonials/parkerwrightman-427162ebe37e7087cd08a074bad3cb0680c04f7e1ce9bad1dbbbfad35e389d99.jpg" />
<cite>
Parker Wightman
<a target="_blank" rel="noopener" href="https://twitter.com/parkerwightman/status/913792554830663680">@parkerwightman</a>
</cite>
<p>Really, really enjoying GymSidekiq. Great customer support, reliable, regular and thoughtful product improvements.</p>
</blockquote>
<blockquote class="u-span-12 u-span-6@md u-span-4@xl">
<img alt="Avatar portrait of Matt Handerson" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/homepage/testimonials/matthanderson-668cd6da1ebb1efc0efeafef4064e05b576d0d8d235974789f5d19e3bfb7eaaf.jpg" />
<cite>
Matt Henderson
<a target="_blank" rel="noopener" href="https://twitter.com/dafacto/status/833686019467833346">@dafacto</a>
</cite>
<p>Hands down, some of the best customer support I’ve ever received is from GymSidekiq. In my view, they’ve set the standard.</p>
</blockquote>
<blockquote class="u-span-12 u-span-6@md u-span-4@xl">
<img alt="Avatar portrait of Julia Nadias" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/homepage/testimonials/julianadias-aa3a79db8419c9ea4cd28e264052802b36df3e02c8973b15032b6eaecf3b789a.jpg" />
<cite>
Juliana Dias
<a target="_blank" rel="noopener" href="https://twitter.com/juuh42dias/status/1039264732207898625">@juuh42dias</a>
</cite>
<p>I'm very impressed with GymSidekiq</p>
</blockquote>
<blockquote class="u-span-12 u-span-6@md u-span-4@xl">
<img alt="Logo of Uplaunch" loading="lazy" src="https://d201zbfblqcbtj.cloudfront.net/assets/homepage/testimonials/uplaunch-d5f5c292bf601e89f4282f41cd1c4827a66bad7be12660bce082c5c200bcc7d0.jpg" />
<cite>
UpLaunch
<a target="_blank" rel="noopener" href="https://twitter.com/uplaunch/status/890744476054020096">@uplaunch</a>
</cite>
<p>GymSidekiq that moment when I can hit up a client telling them about their error before they even submit a ticket. Thanks for being awesome</p>
</blockquote>
</div>
</div>
</div>-->
<div class="mod-pricing-advantages u-bg-darkest u-text-white">
<header class="layout-wrap">
<h2 class="twoliner">
<i>Pay for a</i>
Simple &amp; affordable Software.
</h2>
<p>Our pricing is simple: You pay for what fits your needs. The first 30 days are on us.</p>
</header>
<div class="layout-wrap content">
<div class="c-planslider" data-use-currency="usd" data-use-payment="monthly">
<section class="slider">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center mb-5">
        <h2>Choose Your Plan</h2>
      </div>
    </div>
    <div style="color: black;" class="row">
      <div class="col-md">
        <div class="pb_pricing_v1 p-5 border text-center bg-white">
          <h3>Basic</h3>
          <span class="price"><sup>$</sup>19<span>month</span></span>
          <p style="color: black;" class="pb_font-15">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          <p class="mb-0"><a href="#" role="button" class="btn btn-secondary">Get started</a></p>
        </div>
      </div>
      <div class="col-md">
        <div class="pb_pricing_v1 p-5 border border-primary text-center bg-white">
          <h3>Business</h3>
          <span class="price"><sup>$</sup>39<span>month</span></span>
          <p style="color: black;" class="pb_font-15">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          <p class="mb-0"><a href="#" role="button" class="btn btn-primary btn-shadow-blue">Get started</a></p>
        </div>
      </div>
      <div class="col-md">
        <div class="pb_pricing_v1 p-5 border text-center bg-white">
          <h3>Free</h3>
          <span class="price"><sup>$</sup>99<span>month</span></span>
          <p style="color: black;" class="pb_font-15">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
          <p class="mb-0"><a href="#" role="button" class="btn btn-secondary">Get started</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

</div>
</div>
<section class="mod-tour-cta">
<div class="layout-wrap full">
<div class="start">
<h3 class="preheader u-color-green">Free trial.</h3>
<h2 class="twoliner">
Start your free trial today.
</h2>
<p>We offer a 30 day free trial.</p>
<p>
<div class="button-group">
<a class="button" href="/users/sign_up">Start your free trial</a>
</div>
</p>
</div>
</div>
<div class="join">
<h3>These great teams already use GymSidekiq</h3>
<p class="case-study">Read our <a href="/cases/wetransfer">user case study</a> to learn how we are making gym membership management simple.</p>
<ul>
<li class="wetransfer"><a title="Proudly monitoring the applications at WeTransfer." target="_blank" href="https://attofgwinnett.com/">Gwinnett training acedemy</a></li>
<li class="moneybird"><a title="Proudly monitoring the applications at Moneybird." target="_blank" href="https://americantopteam.com/">American top team</a></li>
<li class="spuul"><a title="Proudly monitoring the applications at Spuul." target="_blank" href="https://mmaatl.com/">Team Octopus</a></li>
<li class="nhs"><a title="Proudly monitoring the applications at Nation Health Services." target="_blank" href="https://paulcreighton.com/">Creighton MMA</a></li>
<li class="cornell"><a title="Proudly monitoring the applications at Cornell University." target="_blank" href="https://x3sports.com/">X3 soprts</a></li>
</ul>
</div>
</section>


<footer>
<div class="mod-footer">
<div class="layout-wrap">
<div class="o-grid">
<nav class="u-span-12 u-span-6@md u-span-3@xl">
<h2>GymSidekiq</h2>
<ul>
<li><a href="/">Homepage</a></li>
<li><a href="http://docs.GymSidekiq.com">Documentation</a></li>
<li><a href="/plans">Plans &amp; pricing</a></li>
<!--<li><a href="http://blog.GymSidekiq.com">Blog</a></li>
<li><a href="/changelog">Changelog</a></li>
<li><a href="/cases/">Case study</a></li>-->
</ul>
</nav>
<nav class="u-span-12 u-span-6@md u-span-3@xl">
<h2>Product features</h2>
<ul>
<li><a href="/tour/errors">Flexible Memberships</a></li>
<li><a href="/tour/performance">Membership Tracking</a></li>
<li><a href="/tour/hosts">Check-in System</a></li>
<li><a href="/tour/metrics">Membership Reports</a></li>
<li><a href="/tour/workflow">Flexible Payments</a></li>
<li><a href="/tour/metrics">Member Portal</a></li>
<li><a href="/tour/workflow">AIA</a></li>
</ul>
<!--<h2>Languages</h2>
<ul>
<li>
<a href="/elixir/">Elixir APM</a>
<p class="sub">
<a href="https://docs.GymSidekiq.com/elixir/integrations/phoenix.html">Phoenix</a>,
<a href="https://docs.GymSidekiq.com/elixir/integrations/plug.html">Plug</a>,
<a href="https://docs.GymSidekiq.com/elixir/integrations/erlang.html">Erlang VM</a>
</p>
</li>
<li>
<a href="https://docs.GymSidekiq.com/ruby/integrations/">Ruby APM</a>
<p class="sub">
<a href="https://docs.GymSidekiq.com/ruby/integrations/capistrano.html">Capistrano</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/datamapper.html">DataMapper</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/delayed-job.html">Delayed Job</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/grape.html">Grape</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/mongodb.html">MongoDB</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/padrino.html">Padrino</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/rack.html">Rack</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/rake.html">Rake</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/resque.html">Resque</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/rails.html">Ruby on Rails</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/sequel.html">Sequel</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/shoryuken.html">Shoryuken</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/sidekiq.html">Sidekiq</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/sinatra.html">Sinatra</a>,
<a href="https://docs.GymSidekiq.com/ruby/integrations/webmachine.html">Webmachine</a>
</p>
</li>
<li>
<a href="/javascript/">JavaScript Errors</a>
<p class="sub">
<a href="https://docs.GymSidekiq.com/front-end/integrations/react.html">React</a>,
<a href="https://docs.GymSidekiq.com/front-end/integrations/vue.html">Vue</a>,
<a href="https://docs.GymSidekiq.com/front-end/integrations/angular.html">Angular</a>,
<a href="https://docs.GymSidekiq.com/front-end/integrations/ember.html">Ember</a>,
<a href="https://docs.GymSidekiq.com/front-end/integrations/preact.html">Preact</a> &
<a href="https://docs.GymSidekiq.com/front-end/integrations/stimulus.html">Stimulus</a>
</p>
</li>
</ul>-->
</nav>
<nav class="u-span-12 u-span-6@md u-span-3@xl">
<h2>Support</h2>
<p>Do you need help, have a feature request or just need someone to rubber duck with? Get in touch with one of our engineers:</p>
<ul>
<li><a href="/contact">Contact us</a></li>
<!--<li><a class="intercom-chat" href="mailto:support@GymSidekiq.com">Live chat</a></li>
<li><a href="https://twitter.com/GymSidekiq">Twitter</a></li>
<li><a href="https://status.GymSidekiq.com">Status</a></li>-->
</ul>
</nav>
<nav class="u-span-12 u-span-6@md u-span-3@xl">
<h2>About Us</h2>
<p>GymSidekiq is located in beautiful Amsterdam. We love <a href="/waffles">stroopwafels</a>. If you do too, <a href="mailto:support@GymSidekiq.com">let us know</a>. We might send you some!</p>
<ul>
  <li><a href="/terms">Terms &amp; conditions</a></li>
  <li><a href="/privacy-policy">Privacy policy</a></li>
<!--<li><a href="/jobs">Jobs</a></li>
<li><a href="/team">Team</a></li>
<li><a href="/open-source">Open Source</a></li>
<li><a href="/terms">Terms &amp; conditions</a></li>
<li><a href="/privacy-policy">Privacy policy</a></li>
<li><a href="https://docs.GymSidekiq.com/GymSidekiq/gdpr.html">GDPR compliance</a></li>
<li><a href="/contact">Contact us / Imprint</a></li>-->
</ul>
</nav>
</div>
</div>
</div>
<div style="margin: 10px;"class="container">
  <div class="row text-center">
    <div class="col">
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
        <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p class="pb_font-14">&copy; 2020 GymSidekiq. All Rights Reserved.</p>
    </div>
  </div>
</div>
</footer>
<div class="mod-cookies">
<p>We'd like to set cookies, <a href="/privacy-policy">read why</a>.</p>
<button class="button tiny accept_link js-cookie-constent">I accept</button>
</div>

<script>
  window.intercomSettings = {
    app_id:     "yzor8gyw",
    widget:     { activator: ".intercom-chat" },
  }
</script>
