<Landing::Navigation />

<div class="layout-flex">
<section class="mod-devise">
<header>
<h2 class="twoliner">
Welcome back.
</h2>
</header>
<div class="box">
  <div class="col">
    <form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
      <input type="hidden" name="authenticity_token" value="U1+4aAEl+em0gv5BUQ7fZ9mNpqsUF6/AVHuJ6JYJgD+fBF6NbPlNjxe3eiGvE40LeMJDfJL8nlysi0p7tAK+Zg==" />
      <div class="input email optional user_email">
        {{input type="email" value=identification placeholder="Enter Email" class="form-control"}}
      </div>
      <div class="input password required user_password">
        {{input value=password type="password" placeholder="Enter Password"}}
      </div>
      <div class="input boolean optional user_accepted_terms">
        <input value="0" type="hidden" name="user[accepted_terms]" />
        <label class="boolean optional control-label checkbox" for="user_accepted_terms">
          {{input class="boolean optional" type="checkbox" name="user_remember_me" id="user_remember_me" aria-label="accept terms" required=true checked=user_remember_me }}
          <label class="string optional control-label inline" for="user_remember_me">Keep me signed in</label>
        </label>
      </div>
      <input {{action "authenticate"}} type="submit" name="commit" value="Log in" class="button sign_up small" data-disable-with="Sign up" />
    </form>
  </div>
<footer>
<ul>
<li><a href="/sign-up">Sign up!</a></li>
<li><a href="/contact">Contact us</a></li>
<li><a class="intercom-chat" href="mailto:support@GymSidekiq.com">Live chat</a></li>
</ul>
{{copyright-footer}}
</footer>
</div>
</section>

</div>
<script>
  window.intercomSettings = {
    app_id:     "yzor8gyw",
    widget:     { activator: ".intercom-chat" },
  }
</script>
