
<h1>Listing Profile Trainers</h1>
<table class='tables-1'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>address</th>
      <th>City</th>
      <th>State</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    {{#each profileTrainersList as |trainer|}}
    <tr>
      <td><img src="{{trainer.image.url}}" height="100" width="100" alt="Image preview..."></td>
      <td>{{trainer.fullName}}</td>
      <td>{{trainer.email}}</td>
      <td>{{trainer.address}}</td>
      <td>{{trainer.city}}</td>
      <td>{{trainer.state}}</td>
      <td>{{trainer.phone}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{#link-to  "user.profile.trainers.new" class="temp-btn"}}
Create New Trainer
{{/link-to}}
