<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "createNewTrainer"}}>Create New Trainer</button>
    </div>

    {{#each profileTrainersList as |trainer|}}
    <div class="settings-item" {{action 'selectTrainer' trainer}}>
      <img id="trainers-image-display" src="{{trainer.image.url}}">
      <h3>{{trainer.fullName}}</h3>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Trainer Settings</h2>
    <div class="settings-content" id="trainers-form">
      <form>
        <fieldset>
          <label for="trainer-picture">Trainer Photo</label>
          <ul style="list-style-type: none;">
            {{#each filesArray as |file|}}
            {{image-preview file=file}}
            {{/each}}
          </ul>
          {{input-file id="trainer-picture" files=files callbackAction='setImage'}}
        </fieldset>
        <InputText @label="First Name" @value={{selectedTrainer.firstName}} />
        <InputText @label="Last Name" @value={{selectedTrainer.lastName}} />
        <InputText @label="Email" @value={{selectedTrainer.email}} />
        <InputText @label="Address" @value={{selectedTrainer.address}} />
        <InputText @label="City" @value={{selectedTrainer.city}} />
        <InputText @label="State" @value={{selectedTrainer.state}} />
        <InputText @label="Zip" @value={{selectedTrainer.zip}} />
        <InputText @label="Phone" @value={{selectedTrainer.phone}} />
        <fieldset>
          <h4>Current Classes</h4>
          {{#if hasNoClasses}}
          <span style="font-weight: normal;">No assigned classes</span>
          {{else}}
          {{#each selectedTrainer.classes as |klass|}}
          <label>
            {{input type="checkbox" name=klass.id class="profile_section"  checked=true}}
            <span style="font-weight: normal;">{{klass.title}}</span>
          </label>
          {{/each}}
          {{/if}}
        </fieldset>
        <fieldset>
          <h4>Profile Classes</h4>
          {{#if hasAllClasses}}
          <span style="font-weight: normal;">Trainer assigned to all classes</span>
          {{else}}
          {{#each availableProfileKlasses as |klass|}}
          <label>
            {{input type="checkbox" name=klass.id class="profile_section"}}
            <span style="font-weight: normal;">{{klass.title}}</span>
          </label>
          {{/each}}
          {{/if}}
        </fieldset>
        <button {{action "updateTrainer" selectedTrainer}} type="submit">
          Submit
        </button>
        <br>
        <button {{action "deleteTrainer" selectedTrainer}} style="color: red;" type="submit">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>