<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "createNewTrainer"}}>Create New Trainer</button>
    </div>

    {{#each profileTrainersList as |trainer|}}
    <div class="settings-item" {{action 'selectTrainer' trainer}}>
      <img id="trainers-image-display" src="{{trainer.image.url}}">
      <h3>{{trainer.fullName}}</h3>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Trainer Settings</h2>
    <div class="settings-content" id="trainers-form">
      <form>
        <fieldset>
          <label for="trainer-picture">Trainer Photo</label>
          <ul style="list-style-type: none;">
            {{#each filesArray as |file|}}
            {{image-preview file=file}}
            {{/each}}
          </ul>
          {{input-file id="trainer-picture" files=files callbackAction='setImage'}}
        </fieldset>
        <fieldset>
          <label for="trainer-firstName">First Name</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-firstName" value=selectedTrainer.firstName }}
          </div>
        </fieldset>
        <fieldset>
          <label for="trainer-lastName">Last Name</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-lastName" value=selectedTrainer.lastName }}
          </div>
        </fieldset>
        <fieldset>
          <label for="trainer-email">Email</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-email" value=selectedTrainer.email }}
          </div>
        </fieldset>
        <fieldset>
          <label for="trainer-address">Address</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-address" value=selectedTrainer.address }}
          </div>
        </fieldset>
        <fieldset>
          <label for="trainer-city">City</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-city" value=selectedTrainer.city }}
          </div>
        </fieldset>
        <fieldset>
          <label for="trainer-state">State</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-state" value=selectedTrainer.state }}
          </div>
        </fieldset>
        <fieldset>
          <label for="trainer-zip">Zip</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-zip" value=selectedTrainer.zip }}
          </div>
        </fieldset>
        <fieldset>
          <label for="trainer-phone">Phone</label>
          <div class='settings-input-text'>
            {{input type="text" id="trainer-phone" value=selectedTrainer.phone }}
          </div>
        </fieldset>
        <button {{action "updateTrainer" selectedTrainer}} type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>