<div class='create-forms'>
  <h2>Create New Trainer</h2>
  <form action="" method="post">
    <fieldset>
      <label for="trainer-picture">Trainer Photo</label>
      <ul style="list-style-type: none;">
        {{#each filesArray as |file|}}
        {{image-preview file=file}}
        {{/each}}
      </ul>
      {{input-file id="trainer-picture" files=files callbackAction='setImage'}}
    </fieldset>
    <fieldset>
      <label for="trainer-firstName">First Name</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-firstName" value=firstName }}
      </div>
    </fieldset>
    <fieldset>
      <label for="trainer-lastName">Last Name</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-lastName" value=lastName }}
      </div>
    </fieldset>
    <fieldset>
      <label for="trainer-email">Email</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-email" value=email }}
      </div>
    </fieldset>
    <fieldset>
      <label for="trainer-address">Address</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-address" value=address }}
      </div>
    </fieldset>
    <fieldset>
      <label for="trainer-city">City</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-city" value=city }}
      </div>
    </fieldset>
    <fieldset>
      <label for="trainer-state">State</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-state" value=state }}
      </div>
    </fieldset>
    <fieldset>
      <label for="trainer-zip">Zip</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-zip" value=zip }}
      </div>
    </fieldset>
    <fieldset>
      <label for="trainer-phone">Phone</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-phone" value=phone }}
      </div>
    </fieldset>
    <fieldset>
      <h4>Select Classes</h4>
      {{#each profileklasses as |klass|}}
      <label>
        {{gs-checkbox name=klass.title class="profile_section" id=klass.id value=plan.id  data=klass.id callbackAction='setKlassId'}}
        <span style="font-weight: normal;">{{klass.title}}</span>
      </label>
      {{/each}}
    </fieldset>
    <button {{action "createNewTrainer"}} type="submit">
      Submit
    </button>
  </form>
</div>
