<div class='create-forms'>
  <h2>Create New Trainer</h2>
  <form action="" method="post">
    <fieldset>
      <label for="trainer-picture">Trainer Photo</label>
      <ul style="list-style-type: none;">
        {{#each filesArray as |file|}}
        {{image-preview file=file}}
        {{/each}}
      </ul>
      {{input-file id="trainer-picture" files=files callbackAction='setImage'}}
    </fieldset>
    <InputText @label="First Name" @value={{firstName}} />
    <InputText @label="Last Name" @value={{lastName}} />
    <InputText @label="Email" @value={{email}} />
    <InputText @label="Address" @value={{address}} />
    <InputText @label="City" @value={{city}} />
    <InputText @label="State" @value={{state}} />
    <InputText @label="Zip" @value={{zip}} />
    <InputText @label="Phone" @value={{phone}} />
    <fieldset>
      <label for="trainer-phone">Phone</label>
      <div class='settings-input-text'>
        {{input type="text" id="trainer-phone" value=phone }}
      </div>
    </fieldset>
    <fieldset>
      <h4>Select Classes</h4>
      <div class="input-checkboxes">
        {{#each profileklasses as |klass|}}
        <label class='input-checkbox'>
          {{gs-checkbox name=klass.title class="profile_section" id=klass.id value=plan.id  data=klass.id callbackAction='setKlassId'}}
          <span style="font-weight: normal;">{{klass.title}}</span>
        </label>
        {{/each}}
      </div>
    </fieldset>
    <button {{action "createNewTrainer"}} type="submit">
      Submit
    </button>
  </form>
</div>