<div class="check-in-container {{_status}}">
    <div class="check-in-right">
        <img class={{_status}} src={{@img}} alt={{@name}}>
    </div>
    <div class="check-in-left">
        <span>{{@name}}</span>
        <span class="check-in-time">{{@date}}</span>
    </div>
</div>