{{!-- <div class="layout">
    <nav class="layout-sidebar">
        {{#each this.sidebarLinks as |d|}}
        {{#link-to  d.to activeClass='active'}}
        <span class='layout-sidebar-indicator'></span>
        <div class='layout-sidebar-icon'></div>
        <span>{{d.title}}</span>
        {{/link-to}}
        {{/each}}
    </nav>
    <nav class='layout-topbar'>
        <h2>
            {{profileName}}
        </h2>
        <a class="layout-topbar-btn logout" {{action "logout"}}>
            Sign Out
        </a>
    </nav>
<div class="layout-content">
    {{yield}}
</div>
</div> --}}
<div class="layout">
    {{!-- <nav class='layout-topbar'>
        <h2>
            {{profile.profileName}}
            <img id="members-image-display" src="{{profile.image.url}}" height="100" width="100">
        </h2>
        <a class="layout-topbar-btn logout" {{action "logout"}}>
            Sign Out
        </a>
    </nav> --}}
    <nav class="layout-sidebar">
        {{#each this.sidebarLinks as |d|}}
        {{#link-to  d.to activeClass='active'}}
        <span class='layout-sidebar-indicator'></span>
        <div class='layout-sidebar-icon'></div>
        <span>{{d.title}}</span>
        {{/link-to}}
        {{/each}}
    </nav>
    <div class="layout-content">
        {{yield}}
    </div>
</div>