<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="">
      <h1>Select Class</h1>
    </div>

    {{#each profileClasses as |class|}}
    <div class="settings-item" {{action 'selectClass' class}}>
      <h8>{{class.title}}</h8>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Check-in Member</h2>
    <div class="settings-content classes-content" id="classes-form">
      <form>
        <InputText @label="Class Name" @value={{selectedKlass.title}} />
        <InputText @label="Member Id" @value={{memberId}} @placeholder="enter member id" />
        <div>
          <button {{action "CheckInMember" selectedKlass memberId formattedDate}} type="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>