<style>
#profiles {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#profiles td, #profiles th {
  border: 1px solid #ddd;
  padding: 8px;
}
#profiles tr:nth-child(even){background-color: #f2f2f2;}
#profiles tr:hover {background-color: #ddd;}
#profiles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

{{#link-to  "members.index" class="btn btn-success"}}
  Go to Members
{{/link-to}}

{{#link-to  "sections.index" class="btn btn-warning"}}
  Go to Sections
{{/link-to}}

<h1>Listing Profiles</h1>

<table id="profiles">
  <thead>
    <tr>
      <th>Profile name</th>
      <th>Email</th>
      <th>address</th>
      <th>City</th>
      <th>State</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    {{#each profilesList as |profile|}}
      <tr>
        <td>{{profile.profileName}}</td>
        <td>{{profile.email}}</td>
        <td>{{profile.address}}</td>
        <td>{{profile.city}}</td>
        <td>{{profile.state}}</td>
        <td>{{profile.phone}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<div class="main-containercontainer">
  <form id="contact" action="" method="post">
    <h3>Profile Information</h3>
    <fieldset>
      {{input type="text" value=profileName placeholder="Profile Name" autofocus=true}}
    </fieldset>
    <fieldset>
      {{input type="email" value=email placeholder="Email Address"  }}
    </fieldset>
    <fieldset>
      {{input type="text" value=address placeholder="Address" }}
    </fieldset>
    <fieldset>
      {{input type="text" value=city placeholder="City" }}
    </fieldset>
    <fieldset>
      {{input type="text" value=state placeholder="State"  }}
    </fieldset>
    <fieldset>
      {{input type="text" value=zip placeholder="Zip"  }}
    </fieldset>
    <fieldset>
      {{input type="tel" value=phone placeholder="Your Phone Number"  }}
    </fieldset>
    <fieldset>
      <button {{action "createProfile"}} name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <div class="checkbox-label">
        {{input type="checkbox" name="accept_terms" id="terms-of-use-checkbox" aria-label="accept terms" required=true checked=accept_terms }}
      Accept
        <a target="_blank" href="http://www.finsync.com/wp-content/uploads/2019/02/Policy-Terms-of-Use-Updated-2.7.2019.pdf">Terms of Use</a><span class="required-marker">*</span>&nbsp;
      </div>
    {{copyright-footer}}
  </form>
</div>
