<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "createNewPlan"}}>Create New Plan</button>
    </div>
    {{#each profilePlansList as |plan|}}
    <div class="settings-item settings-item-right" {{action 'selectPlan' plan}}>
      <h3><p>{{plan.title}}</p></h3> <p style="margin: 10px;">${{plan.price}}</p>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Plan Settings</h2>
    <div class="settings-content" id="plan-form">
      <form>
        <fieldset>
          <h1>Plan Classes</h1>
          {{#if hasNoClasses}}
            <span style="font-weight: normal;">No assigned classes</span>
          {{else}}
            {{#each planKlasses as |klass|}}
            <label>
              {{input type="checkbox" name=klass.id class="profile_section"  checked=true}}
              <span style="font-weight: normal;">{{klass.title}}</span>
            </label>
            {{/each}}
          {{/if}}
        </fieldset>
        <fieldset>
          <h1>Profile Classes</h1>
          {{#if hasAllClasses}}
            <span style="font-weight: normal;">Plan has all classes</span>
          {{else}}
            {{#each availableProfileKlasses as |klass|}}
            <label>
              {{input type="checkbox" name=klass.id class="profile_section"}}
              <span style="font-weight: normal;">{{klass.title}}</span>
            </label>
            {{/each}}
          {{/if}}
        </fieldset>
        <fieldset>
          <label for="plan-name">Plan Name</label>
          <div class='settings-input-text'>
            {{input type="text" id='plan-name' value=selectedPlan.title }}
          </div>
        </fieldset>
        <fieldset>
          <label for="plan-name">Plan Price</label>
          <div class='settings-input-text'>
            {{input type="number" value=price placeholder="Price..." min="0.00" max="10000.00" step="0.01" value=selectedPlan.price}}
          </div>
        </fieldset>
        <fieldset>
          <button {{action "updatePlan" selectedPlan}} type="submit">
            Submit
          </button>
        </fieldset>
        <fieldset>
          <div>
            <button {{action "deletePlan" selectedPlan}} style="color: red;" type="submit">
              Delete
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
