<div class="settings-layout">

  <Scrollable @classnames="settings-list">
    <div class="settings-action">
      <button {{action "createNewPlan"}}>Create New Plan</button>
    </div>
    {{#each profilePlansList as |plan|}}
    <div class="settings-item" {{action 'selectPlan' plan}}>
      <h3>{{plan.title}}</h3>
      <h6>{{plan.price}}</h6>
    </div>
    {{/each}}
  </Scrollable>

  <div class='settings-info'>
    <h2>Plan Settings</h2>
    <div class="settings-content" id="plan-form">
      <form>
        <fieldset>
          <label>Plan Classes</label>
          {{#each planKlasses as |klass|}}
          <div class="classes-section-item">
            <h3>{{klass.title}}</h3>
          </div>
          {{/each}}
        </fieldset>
        <fieldset>
          <label for="plan-name">Plan Name</label>
          <div class='settings-input-text'>
            {{input type="text" id='plan-name' value=planInfo.title }}
          </div>
        </fieldset>
        <fieldset>
          <label for="plan-name">Plan Price</label>
          <div class='settings-input-text'>
            {{input type="number" value=price placeholder="Price..." min="0.00" max="10000.00" step="0.01" value=planInfo.price}}
          </div>
        </fieldset>
        <button {{action "updatePlan" planInfo.title planInfo.price}} type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>

</div>