<div class='create-forms'>
  <h2>Create New Plan</h2>
  <form action="" method="post">
    <InputText @label="Plan Name" @value={{title}} @autofocus={{true}} />
    <fieldset>
      <label for="plan-name">Plan Price</label>
      <div class='settings-input-text'>
        {{input type="number" value=price placeholder="Price..." min="0.00" max="10000.00" step="0.01" value=price}}
      </div>
    </fieldset>
    <fieldset>
      <button {{action "createNewPlan"}} name="submit" type="submit" data-submit="...Sending">
        Submit
      </button>
    </fieldset>
    <fieldset>
      <div>
        <button {{action "deletePlan" selectedPlan}} style="color: red;" type="submit">
          Delete
        </button>
      </div>
    </fieldset>
    <fieldset>
      <h4>Select Plan Classes</h4>
      <div class="input-checkboxes">
        {{#each profileklasses as |klass|}}
        <label class="input-checkbox">
          {{gs-checkbox name=klass.title class="profile_section" id=klass.id value=plan.id  data=klass.id callbackAction='setKlassId'}}
          <span style="font-weight: normal;">{{klass.title}}</span>
        </label>
        {{/each}}
      </div>
    </fieldset>
  </form>
</div>